/* write your CSS here */
/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

em {
    color: red;
}

ul{
    color: green;
    font-family: arial;
     border: 2px dashed blue;
}
h2{
    color:black;
    font-family: 'Cookie';
}
body{
    color: "#FFFFFF";
}

#first-div{
    float=left;
    width: 800px;
    
}

#second-div{
    float=left;
    width:350px;
}

#third-div{
    float=left;
    width:350px;
    clear:both;
}

#modal-popup{
	background: #09CDA1;
	position:fixed;
	z-index:75;
	width: 200px;
	height: 200px;
	top: 30px;
	left: 50px;
}

div {
width: 800px;
padding: 10px;
border: 5px solid black;
margin: 10px;
    overflow:auto;
}

#modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
 
#modal-box {
  background-color: #fff;
  border-radius: 5px;
  border: 5px solid #454545;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
}
 
#modal-show {
  background: purple;
  border-radius: 5px;
  border: 4px outset purple;
  color: white;
  font-size: 2em;
  margin: 0.5em;
}
 
#modal-hide {
  background: white;
  border-radius: 15px;
  color: #454545;
  display: block;
  float: right;
  font-family: monospace;
  font-size: 20px;
  margin-right: -17px;
  position: relative;
  top: -18px;
  width: 30px;
}
